
@media (max-width: 1400px) {
    .projectsContainer {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 1000px) {
    .projectsContainer {
      grid-template-columns: 1fr; 
    }

    section:first-of-type {
        margin-left: 0;
        margin-right: 0;
    }
}


@media (max-width: 500px) {
    section {
        margin-left: 1rem;
        margin-right: 1rem;
}
}