@import url(./media.css);

/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-colour: #000;
  --text-colour: snow;
}

a {
  color: inherit; /* Makes the color the same as the parent text */
  text-decoration: none; /* Removes underline */
  font-family: inherit; /* Ensures font matches the surrounding text */
  font-size: inherit; /* Matches font size to surrounding text */
}

/* Body */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  background-color: var(--bg-colour);
  color: var(--text-colour);
}

/* Header */

header {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: var(--bg-colour);
  justify-content: space-between;
}

.logoContainer {
  height: 40px;
  width: auto;
  align-self: center;
  margin-left: 1rem;
}

.logo {
  height: 100%;
  width: auto;
}

/* Nav */

nav {
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--bg-colour);
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  list-style-type: none;
}

nav a {
  margin: 0 1rem;
  color: var(--text-colour);
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
}


/* MAIN */

section {
  height: 100dvh;
  margin-left: 5rem;
  margin-right: 5rem;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
}

/* section:first-of-type {
  margin-top: 100px;
} */

.section1 {
display: grid;
justify-content: center;
align-items: center;
}

.profileContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

}

.profilePicture {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}


/* PROJECTS */

.section2 {
  align-items: center;
}

.projectsContainer {
  display: grid;
  grid-template-columns:  repeat(auto-fill, minmax(400px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  justify-items: center;
}

.flipProjects {
  width: 400px;
  aspect-ratio: 16/9;
  perspective: 3200px;
  position: relative;
}

.flipFront, .flipBack {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 4px 12px 40px 6px rgba(0, 0, 0, 0.09);
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease-in-out;
  position: absolute;
  backface-visibility: hidden;
}

.flipFront {
background-color: whitesmoke;
color: gray;
transform: rotateX(0deg);
}

.flipBack {
background-color: wheat;
color: gray;
transform: rotateX(-180deg);
}


.flipProjects:hover .flipFront {
  transform: rotateX(180deg);
}

.flipProjects:hover .flipBack {
  transform: rotateX(0deg);
}

.front1 {
  background-image: url(/images/gamehub.png);
  background-size: cover;
  background-position: center;
}

.front2 {
  background-image: url(/images/museum.png);
  background-size: cover;
  background-position: center;
}

.front3 {
  background-image: url(/images/cabincrafts.png);
  background-size: cover;
  background-position: center;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.projectInfo {
  font-size: 0.8rem;
  margin: 20px 0;
  text-align: center;
}

.githubLink, .flipBack {
  font-size: 1rem;
}

.linkButtons {
  /* font-size: 0.8rem;
  font-weight: 500; */
}