/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-colour: #000;
  --text-colour: snow;
  --nav-hover: #ffd700;
  --card-backside: wheat;
  --card-text: gray;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
}

/* Body */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  background-color: var(--bg-colour);
  color: var(--text-colour);
}

/* Header */

header {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: var(--bg-colour);
  justify-content: space-between;
}

.logoContainer {
  height: 40px;
  width: auto;
  align-self: center;
  margin-left: 1rem;
}

.logoContainer:hover {
  cursor: pointer;
}

.logo {
  height: 100%;
  width: auto;
}

/* Nav */

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--bg-colour);
  list-style-type: none;
}

nav a {
  margin: 0 1rem;
  color: var(--text-colour);
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

nav a:hover {
  color: var(--nav-hover);
  transition: color 0.5s ease-in-out;
}

/* MAIN */

section {
  height: 100svh;
  margin-left: 5rem;
  margin-right: 5rem;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
}

.section1 {
  margin-left: 5rem;
  display: grid;
}

.profileContainer {
  display: flex;
  flex-direction: column;
}

.profileContainer,
.aboutText {
  margin: 2rem;
}

.section1,
.profileContainer {
  justify-content: center;
  align-items: center;
}

.profilePicture {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  margin-bottom: 2rem;
}

.aboutText {
  font-size: 1rem;
  text-align: center;
}

/* PROJECTS */

.section2 {
  align-items: center;
}

.projectsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 2rem;
  justify-items: center;
}

.flipProjects {
  width: 350px;
  aspect-ratio: 16/9;
  perspective: 3200px;
  position: relative;
}

.flipFront,
.flipBack {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 4px 12px 40px 6px rgba(0, 0, 0, 0.09);
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease-in-out;
  position: absolute;
  backface-visibility: hidden;
}

.flipFront {
  transform: rotateX(0deg);
}

.flipBack {
  background-color: var(--card-backside);
  color: var(--card-text);
  transform: rotateX(-180deg);
}

.flipProjects:hover .flipFront {
  transform: rotateX(180deg);
}

.flipProjects:hover .flipBack {
  transform: rotateX(0deg);
}

.front1,
.front2,
.front3 {
  background-size: cover;
  background-position: center;
}

.front1 {
  background-image: url(/images/gamehub.png);
}

.front2 {
  background-image: url(/images/museum.png);
}

.front3 {
  background-image: url(/images/cabincrafts.png);
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectTitle,
.projectInfo {
  text-align: center;
}

.projectTitle {
  font-size: 1.1rem;
  margin-top: 10px;
}

.projectInfo {
  font-size: 0.8rem;
  margin: 20px 0;
}

.githubLink,
.liveLink {
  font-size: 0.9rem;
}

.linkButtons {
  text-transform: uppercase;
}

/* CONTACT */

.contactFormContainer {
  display: flex;
  justify-content: center;
}

.contactForm {
  display: grid;
  margin-top: 20px;
}

.contactForm input,
textarea {
  padding: 8px 20px;
  border: 1px solid whitesmoke;
  border-radius: 6px;
  font-size: 0.8rem;
}

.contactForm input:hover,
textarea:hover {
  opacity: 0.8;
}

.contactForm input:focus,
textarea:focus {
  outline: none;
}

.contactForm input[type="submit"] {
  background-color: var(--text-colour);
  color: var(--bg-colour);
  cursor: pointer;
  padding: 7px 10px;
  justify-self: end;
  margin-bottom: 30px;
  margin-top: 10px;
  transition: all 0.5s ease;
  font-size: 0.8rem;
  font-weight: 600;
}

.contactForm input[type="submit"]:hover {
  background-color: var(--bg-colour);
  color: var(--text-colour);
  border: 1px solid var(--text-colour);
  border-radius: 6px;
}

label {
  text-align: start;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.7rem;
  color: var(--menu-text-colour);
  padding-top: 5px;
}

.formError {
  display: none;
  color: red;
  font-size: 0.7rem;
  margin-top: 1px;
}

.contactContainer,
.contactText {
  justify-content: center;
  align-items: center;
}

.contactContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
}

.contactText {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.socialMediaContainer {
  margin-top: 5rem;
}

.socialMediaLink {
  margin: 1rem;
}

.fa-facebook,
.fa-linkedin,
.fa-instagram {
  transition: color 0.5s ease-in-out;
}

.fa-facebook:hover {
  color: #1877f2;
}

.fa-linkedin:hover {
  color: #0a66c2;
}

.fa-instagram:hover {
  color: #c13584;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
